version: "2"
services:
  broker:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "8080:15672"
  producer:
    image: producer:latest
    ports:
      - "8000:8000"
    depends_on:
      - "broker"
    environment:
      - RABBIT_ADDRESS=172.19.0.1
